:root{
    --my-main-color: darkcyan
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    font-family:Arial, Helvetica, sans-serif ;
    background: var(--my-main-color);
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    align-items: center;
}

h2 {
    font-family:Arial, Helvetica, sans-serif ;
    color: var(--my-main-color);
    display: flex;
    text-align: center; 
    justify-content: center;
}

.green{
    color: #008b8b;

}

.box {
    width:100px;
    color: white;
    background: var(--my-main-color);
    margin: auto;
    padding: 2em;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif ;
    cursor: pointer; 
}

.column {
    display: flex;
    align-items: start;
    gap: 3%;
    padding: 2%;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
}

.center, #rList{
    text-align: left;
    border: 2px solid var(--my-main-color);
    padding: 3%; 
    box-sizing:border-box;
    /* max-width: 30%; */
}

.center span, .right span{
    display: flex;
    align-items: center;
    justify-content: center;
}


.fas{
    font-size: 1.5em;
}

.input-container {
    display: flex;
    justify-content: center;
}

.add {
        margin-left: 10px; 
        cursor: pointer; 
}

.left,.right{
    text-align: center;
}

.left, .center,.right {
    width: calc(33.33% - 20px);
    padding: 2%;
    box-sizing: border-box;
}

.newRightColumn{
    text-align: center;
    
}

.fa-print {
    color: var(--my-main-color);
    float: inline-end;
    margin: 10px;
    cursor: pointer; 
}

.fa-floppy-disk{
    cursor: pointer;
}

.fa-trash {
    color: var(--my-main-color);
    margin: 10px;
    cursor: pointer; 
    justify-content: flex-end;
}
.fa-solid.fa-xmark  {
    color: var(--my-main-color); 
    cursor: pointer; 
    margin-left: auto;
}

.fa-plane {
    text-align: center;
}

ul{
    list-style-type: none;
}

input[type=checkbox]{
    /* opacity: 0; */
    color: var(--my-main-color);
    border: 1px solid var(--my-main-color);
}

input[type=checkbox]:checked{
    background-color: var(--my-main-color);
}

/* input[type=checkbox]::after {
    opacity: 1;
    content: "\2610";
    display: inline-block;
    width: 1em;
    color: darkcyan;
} */

.images {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    text-align: center;
    flex-wrap: wrap;
}

.images img {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    display: block;
    margin: 0 auto;
}

.popup {
    position: fixed;
    top: 50px; /* Beispielwert, passt die Position nach Bedarf an */
    left: 50%; /* Beispielwert, passt die Position nach Bedarf an */
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 999; /* Stelle sicher, dass das Pop-up über anderen Inhalten liegt */
}

#listcont{
    display: grid;
    grid-template-columns: 50% 50%;
}

#centerLists, #rightLists{
    margin: 2% auto;
    display: grid;
    position: relative;
    width: 80%;
    justify-content: center;

}
.green ~ p{
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .column {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px; 
    }
    .footer {
        flex-direction: row;
        justify-content: space-between;
    }
    .center{
       padding: 3%; 
       width: 80%;
    }
    .input-container{
        margin: 0 1em;
    }
    .left, .center, .right {
        width: 100%;
        margin: 0 2em;
        box-sizing: border-box;
    }
}
/* 
@media print {
    #header,
    #footer,
    #nav {
      display: none !important;
    }
  } */
